.container {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 90vw;
  height: 90vh;
  margin: 2px auto;
  display: flex;
  justify-content: space-between;
}

.page-action-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;

}


.route-destinations h2 {
  font-size: 24px;
}

// Left side of route page
.route-content {
  width: 50%;
  margin-right: 5px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
  .page-action {
    display: flex;
    justify-content: space-between;
    .route-title {
      p {
        font-size: 15px;
        color: grey;
      }
      h1 {
        font-size: 28px;
      }
      .route-title-input {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;
        .title-text {
          width: 60%;

        }
      }
    }
  }

  h1 {
    font-size: 28px;
  }

  .route-destinations {
    .route-destinations-actions {
      margin-top: 15px;
      display: flex;
      justify-content: space-between;
    }
    .form-whole {
      width: 450px;
      margin: 0px auto;
      height: 75px;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      .form-left {
        width: 90%;
      }
    }
  }
}
// Right side of page
.destination-map-and-specs {
  width: 50%;
  height: 100%;
  margin-left: 10px;
  position: relative;
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
  }
  .destination-specs {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 2;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 100px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    text-align: center;
    h1 {
      font-size: 16px;
      font-weight: bolder;
    }
    h2 {
      font-size: 18px;
      font-weight: light;
    }
  }
}

#destination_address {
  display: none;
}

.mapboxgl-ctrl-geocoder {
  max-width: none;
  width: 100%;
  height: 100%;
  border: 1px solid lightgrey;
  box-shadow: none;
  background-color: transparent;
}

.route-destinations-display{
  width: 450px;
  margin: 2px auto;
  margin-bottom: 15px;

  .card-destination {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
  }
  .destination-bubble {
    margin-left: 10px;
    margin-right: 5px;
    height: 50px;
    width: 50px;
    border: 4px solid $teal;
    border-radius: 50%;
  }
  .destination-text {
    position: absolute;
    left: 75px;
  }
  .bubble-line-connection {
    margin-left: 34px;
    width: 10px;
    height: 30px;
    border-left: 4px solid $teal;
  }
}
