.heading {
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0px auto;
  align-items: center;
}


.main-container {
  display: flex;
  justify-content: space-between;
  width: 90vw;
  margin: 5px auto;
  h1 {
    font-size: 20px;
  }
}



.cards-routes{
  width: 70%;
  margin: 15px auto;

  .card-route{
    border-left: 6px solid $light-green;

    // Font styling
    .text-description {
      font-size: 15px;
      font-weight: light;
      color: grey;
    }
    h2 {
      font-size: 25px;
      font-weight: bold;
    }

    .card-route-specs p {
      font-size: 15px;
    }

    // End font styling

    margin-top: 15px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0,0,0,0.2);

    .card-route-top {
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid rgba(170, 166, 166, 0.61);

      .card-route-city{
        border: 1px solid rgb(149, 147, 147);
        color: $teal;
        background-color: rgba(249, 249, 249, 0.835);
        border-radius: 5px;
        display: flex;
        text-align: center;
      }
      .card-route-actions {
        display: flex;
        justify-content: space-between;
      }

    }
    .card-route-center {
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(170, 166, 166, 0.61);

      // Cutting corners
      position: relative;
      // overflow: hidden;
      .cut-out-right {
        position: absolute;
        width: 20px;
        height: 20px;
        border-top-right-radius: 100%;
        border-bottom-right-radius: 100%;
        background-color: $body-bg;
      }

      .cut-out-left {
        position: absolute;
        width: 20px;
        height: 20px;
        border-top-left-radius: 100%;
        border-bottom-left-radius: 100%;
        background-color: $body-bg;
      }

      .card-img-and-title {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        .avatar-bordered-large {
          width: 100px;
          height: 100px;
          border-radius: 50%;
          // border: 1px solid $teal;
          box-shadow: 0 0 5px rgba(0,0,0,0.2);

        }
        .card-route-title {
          height: 100px;
          border-right: 0.5px solid rgba(170, 166, 166, 0.61);

        }
      }



      .card-route-specs {
        height: 100px;
      }

      .card-route-open {
        width: 175px;
      }


    }

    .card-route-bottom {
      display: flex;
      justify-content: center;
      align-items: center;
    }

  }
}


//     .card-route-details {
//       margin: 2px;
//       display: flex;
//       justify-content: space-between;
//       align-items: flex-start;
//       position: relative;
//       .route-title-and-img {
//         width: 50%;
//         display: flex;
//         justify-content: flex-start;
//         align-items: center;
//         position: relative;
//         border-right: 0.5px solid rgba(170, 166, 166, 0.61);

//         }

//       }
//       .route-specs {
//         height: 100px;
//         margin-right: 3px;
//         width: 35%;
//         display: flex;
//         justify-content: flex-end;
//         align-items: center;
//         position: relative;

//       }
//     }

//   }
// }

// .cards-listings-host{
//   width: 25%;
//   margin-top: 15px;
//   margin-bottom: 15px;
//   .cards-listings {
//     margin-top: 16px;
//     .card-listing{
//       margin-top: 6px;
//       width: 300px;
//       background: white;
//       border-radius: 10px;
//       box-shadow: 0 0 5px rgba(0,0,0,0.2);
//       }
//       .card-listing-info{
//         padding-top: 6px;
//         padding-left: 6px;
//       }
//       .card-listing-actions {
//         margin-right: 6px;
//         padding-bottom: 6px;
//         display: flex;
//         justify-content:end;
//         gap: 10px;
//       }
//     }
//   }

// Cut-out
.top { top: -12px; }
.bottom { bottom: -8px; }
.left { left: -13px; }
.right { right: -8px; }
