<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ndc13/profile"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/neilcairns/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/NeilCairns"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/neildanielcairns"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © myRoutes 2023
  </div>
</div>
