 <div class="landingpage-container">

<div class="banner" style="background-color: black">
  <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>
  <div class="banner-content">
    <h1 id="home-title" > myRoutes </h1>

  <%= video_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678367083/Amazing_map_b9dngk.gif", loop: true, autoplay: "autoplay", muted: true, class: "home-animation" %>
  </div>
</div>


<ul data-controller="sortable" data-sortable-target="results">
  <li>First</li>
  <li>Second</li>
  <li>Third</li>
  <li>Fourth</li>
</ul>



</div>
<div>

</div>
