<div class="landingpage-container">


  <div class="animation">

    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>

      <div class="banner-content">
        <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678383227/location_marker2_jnn3dw.png", loop: true, autoplay: "autoplay", muted: true, class: "home-animation" %>
        <h1 id="home-title" > myRoutes </h1>
      </div>
    </div>
  </div>
</div>




<div class="cards">

      <a action="go" style="color:black; text-decoration:none" href="/cars/32">
        <div class="card-car clickable">
  <img height="300" width="400" src="http://res.cloudinary.com/dcuj8efm3/image/upload/c_fill,h_300,w_400/v1/development/od0li7hvwz6ohjdbj1d153mwcsne">

  <div class="card-car-infos">
    <div>
      <h2>Step 1</h2>
      <p> First, download our app! </p>

    </div>
    <h2 class="card-car-pricing">£350</h2>

  </div>
</div>

</a>      <a action="go" style="color:black; text-decoration:none" href="/cars/28">
        <div class="card-car clickable">
  <img height="300" width="400" src="http://res.cloudinary.com/dcuj8efm3/image/upload/c_fill,h_300,w_400/v1/development/kcx02cfo358zd7hmbo7590ey0j7m">

  <div class="card-car-infos">
    <div>
      <h2>Step 2</h2>
      <p> Second, place markers on your map to log the places you would like to visit </p>

    </div>
    <h2 class="card-car-pricing">£550</h2>

  </div>
</div>

</a>      <a action="go" style="color:black; text-decoration:none" href="/cars/25">
        <div class="card-car clickable">
  <img height="300" width="400" src="http://res.cloudinary.com/dcuj8efm3/image/upload/c_fill,h_300,w_400/v1/development/rcgsqosghrwbbf3hkrxzuokfykqh">

  <div class="card-car-infos">
    <div>
      <h2>Step 3</h2>
      <p> Finally, enjoy your personally designed route! </p>

    </div>
    <h2 class="card-car-pricing">£275</h2>

  </div>
</div>
