<div class="landingpage-container">


  <div class="animation">

    <div class="banner" style="background-color: black">
      <%= video_tag "https://res.cloudinary.com/dcuj8efm3/video/upload/v1678286863/routes_tc0g77.mp4", loop: true, autoplay: "autoplay", muted: true, class: "home-video" %>

      <div class="banner-content">
        <%= image_tag "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif", loop: true, autoplay: "autoplay", muted: true, class: "home-animation" %>
        <h1 id="home-title" > myRoutes </h1>
      </div>
    </div>
  </div>
</div>

<div class="card-landingpage clickable">
  <img src= "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678374143/couchguy_jgrect.jpg">
  <div class="card-landingpage-infos">
      <div>
        <h2> Step 1 </h2>
            <em> First, download our app!</em>

      </div>
    </div>
</div>

<div class="card-landingpage clickable">
  <img src= "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678373261/location_marker_ordpqy.gif">
  <div class="card-landingpage-infos">
      <div>
        <h2> Step 2</h2>
          <em> Second, place markers on your map to log the places you would like to visit</em>
      </div>
  </div>
</div>

<div class="card-landingpage clickable">
  <img src= "https://res.cloudinary.com/dcuj8efm3/image/upload/v1678376945/googlemaps_qg2m7y.png">
  <div class="card-landingpage-infos">
      <div>
        <h2> Step 3</h2>
          <em> Finally, enjoy your personally designed route!</em>
      </div>
  </div>
</div>

<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/ndc13/profile"><i class="fab fa-github"></i></a>
    <a href="https://www.instagram.com/neilcairns/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="https://www.facebook.com"><i class="fab fa-facebook"></i></a>
    <a href="https://www.twitter.com/NeilCairns"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/neildanielcairns"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    © myRoutes 2023
  </div>

</div>
