.btn-outline-primary {
  position: absolute;
  width: 188px;
  height: 37px;
  left: 874px;
  top: 377px;

  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
}

.btn-outline-info {
  position: absolute;
  width: 162px;
  height: 37px;
  left: 236px;
  top: 377px;

  filter: drop-shadow(0px 2px 1px rgba(0, 0, 0, 0.25));
}

.fb-share-button {
  opacity: 0;
  transform: scale(4.5);
  transform-origin: top left;
  width: 162px;
}
