.navbar-lewagon {
  justify-content: space-between;
  background: $background-color;
  border-bottom: 0.5px solid rgba(170, 166, 166, 0.61);
  margin-bottom: 10px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-brand {
  img {
    border-radius: 10px;
  }
}

