.navbar-lewagon {
  justify-content: space-between;
  background: #e0ebf2;
  border-bottom: 0.2px solid #285c7c;
  margin-bottom: 0px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
  height: 80px;
}

.navbar-brand {
  img {
    border-radius: 10px;
  }
}
