<div class="container">
  <div class="page-actions">
    <div class="page-actions-back">
    </div>
    <div class="page-actions-sharing">
      <i class="fa-regular fa-trash-can px-3"></i>
      <i class="fa-solid fa-arrow-up-from-bracket px-3"></i>
    </div>
  </div>

  <div class="route-title">
    <h1>Give your route a title</h1>
    <%= simple_form_for @route, html: { class: 'form-inline w-100 route-title my-3' } do |f| %>
    <div class="route-title-input">
      <div class="title-text">
        <%= f.input :title, placeholder: "E.g. London visit, day I", label: false %>
      </div>
      <div class="title-submit mx-3">
        <%= f.submit 'Save', class: "btn btn-primary"%>
      </div>
      <% end %>
    </div>
  </div>
</div>
